In [16]:
import pandas as pd
import numpy as np
import random
from os import path, listdir
from typing import List

from dataclasses import dataclass


# Create your models here.
@dataclass
class MuseumObject:
    image: str # path
    group: str
    description: str



PATH_TO_DATASET = path.abspath("/home/joe/Документы/train_dataset_mincult-train")
PATH_TO_CSV = path.join(PATH_TO_DATASET, "train.csv")
PATH_TO_IMAGES = path.join(PATH_TO_DATASET, "train")

df = pd.read_csv(PATH_TO_CSV, sep = ';', encoding = 'utf-8')

def get_image_path(object_id, img_name):
    return path.join(PATH_TO_IMAGES, str(object_id), img_name)

def predict() -> List[MuseumObject]:
    indexes = [random.randint(0, len(df)) for i in range(10)]
    answer = df.iloc[indexes]
    print(answer, type(answer))
    
    answer = [MuseumObject(get_image_path(i[0], i[4]), i[3], str(i[2]) if str(i[2]) != "nan" else "") for i in answer.values]
    for i in answer:
        assert isinstance(i.image, str), (type(i.image), "image")
        assert isinstance(i.group, str), (type(i.group), "group")
        assert isinstance(i.description, str), (type(i.description), "description")
    return answer

predict()

df[df.where(df['object_id'] == 7495)]

import PIL
from typing import Union, List

# 2 функции
def generate_description(image: PIL.Image.Image) -> str:
    """
    Синтезирует описание по картинке
    """

def predict_class(image: PIL.Image.Image) -> str:
    """
    Предсказывает класс по картинке
    """

def predict_similar(image: PIL.Image.Image) -> Union[pd.DataFrame, List[pd.Series]]:
    """
    Возвращает 10 наиболее похожих экспонатов по картинке
    можно как датафрейм, так и список из Series, в любом случае, 0-й элемент будет восприниматься как
    самый схожий, 9-й наименее схожий из десятки
    """

       object_id                                               name  \
9424    10910905  Книга. Толстой Л.Н. Бог правду видит, да не ск...
20291   24377874                             Монета 2 копейки, СССР
10926   19938175                            Монета. 1 копейка. Клад
16679   24886588  Патрон учебный к винтовке и пулемету калибра 7...
9176     7253425                 ДАФ (бубен). Прин. С.А.Баласаняну.
9777    11769353                     Лезвие от бритвы металлическое
17324   10507846   Монета 10 вэней (кэш) Китайской провинции Ляонин
7419    46787945  Фотография из альбома. Участники семинара в ко...
1512    21618736                                           Эпидозит
11067   11810215                               Минерал. Медная руда

                                             description           group  \
9424                                                 NaN    Редкие книги
20291                                                NaN     Нумизматика
10926                                                NaN     Нумизматика
16679                                                NaN          Оружие
9176   Погремушки из алюминиевых полусфер и железных ...          Прочие
9777                                                 NaN          Прочие
17324  Северо-Восточный Китай - Дунбей, провинция Ляо...     Нумизматика
7419                                                 NaN  Фото, негативы
1512                                                 NaN     Минералогия
11067                                                NaN     Минералогия

           img_name
9424    8198377.jpg
20291  26830269.jpg
10926  20643518.jpg
16679  28518373.jpg
9176    3186824.jpg
9777    9339866.jpg
17324   7644720.jpg
7419   57823300.jpg
1512   22975068.jpg
11067   9394243.jpg   <class 'pandas.core.frame.DataFrame'>

       object_id name description group img_name
0            NaN  NaN         NaN   NaN      NaN
1            NaN  NaN         NaN   NaN      NaN
2            NaN  NaN         NaN   NaN      NaN
3            NaN  NaN         NaN   NaN      NaN
4            NaN  NaN         NaN   NaN      NaN
...          ...  ...         ...   ...      ...
20340        NaN  NaN         NaN   NaN      NaN
20341        NaN  NaN         NaN   NaN      NaN
20342        NaN  NaN         NaN   NaN      NaN
20343        NaN  NaN         NaN   NaN      NaN
20344        NaN  NaN         NaN   NaN      NaN

[20345 rows x 5 columns]

In [8]:
def split_rows(array, groups: int):
    for i in enumerate(array):
        array[i[0]] = i
    return [array[group::groups] for group in range(groups)]

a = list([i ** 2 for i in range(10)])

groups = split_rows(a, 4)
print(groups)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)
[[(0, 0), (4, 16), (8, 64)], [(1, 1), (5, 25), (9, 81)], [(2, 4), (6, 36)], [(3, 9), (7, 49)]]